h1{
  color: Blue;
  text-align: center;
  margin-top: 20px;
}

#square{
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-top: 10px;
  background-color: red;
}

#rectangle {
  width: 200px;
  height: 100px;
  margin: 0 auto;
  margin-top: 20px;
  background: red;
}
 #circle {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-top: 20px;
  background: red;
  border-radius: 50%
}

 #oval {
      width: 200px;
      height: 100px;
      margin: 0 auto;
      margin-top: 20px;
      background: red;
      border-radius: 100px / 50px;
    }

  
  #triangle-up {
      width: 0;
      height: 0;
      margin: 0 auto;
      margin-top: 20px;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 100px solid red;
    }
   #triangle-down {
      width: 0;
      height: 0;
      margin: 0 auto;
      margin-top: 20px;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 100px solid red;
    }
     #triangle-left {
      width: 0;
      height: 0;
      margin: 0 auto;
      margin-top: 20px;
      border-top: 50px solid transparent;
      border-right: 100px solid red;
      border-bottom: 50px solid transparent;
    }

     #triangle-right {
      width: 0;
      height: 0;
      margin: 0 auto;
      margin-top: 20px;
      border-top: 50px solid transparent;
      border-left: 100px solid red;
      border-bottom: 50px solid transparent;
    }
    #triangle-topleft {
      width: 0;
      height: 0;
      margin: 0 auto;
      margin-top: 20px;
      border-top: 100px solid red;
      border-right: 100px solid transparent;
    }
     #triangle-topright {
      width: 0;
      height: 0;
      margin: 0 auto;
      margin-top: 20px;
      border-top: 100px solid red;
      border-left: 100px solid transparent;
    }

    #triangle-bottomright {
      width: 0;
      height: 0;
      margin: 0 auto;
      margin-top: 20px;
      border-bottom: 100px solid red;
      border-left: 100px solid transparent;
    }
   #triangle-bottomleft {
      width: 0;
      height: 0;
      margin: 0 auto;
      margin-top: 20px;
      border-bottom: 100px solid red;
      border-right: 100px solid transparent;
    }

     #star-six {
      width: 0;
      height: 0;
      margin: 0 auto;
      margin-top: 20px;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 100px solid red;
      position: relative;
    }
    #star-six:after {
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 100px solid red;
      position: absolute;
      content: "";
      top: 30px;
      left: -50px;
    }

    #octagon {
      width: 100px;
      height: 100px;
      margin: 0 auto;
      margin-top: 20px;
      background: red;
      position: relative;
    }
    #octagon:before {
      content: "";
      width: 100px;
      height: 0;
      position: absolute;
      top: 0;
      left: 0;
      border-bottom: 29px solid red;
      border-left: 29px solid #eee;
      border-right: 29px solid #eee;
    }
    #octagon:after {
      content: "";
      width: 100px;
      height: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      border-top: 29px solid red;
      border-left: 29px solid #eee;
      border-right: 29px solid #eee;
    }
  
  
    #talkbubble {
      width: 25%;
      height: 80px;
      margin: 100px;
      padding: 15px;
      background: greenyellow;
      position: relative;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }
    #talkbubble:before {
         content: "";
    position: absolute;
    right: 20%;
    top: 78px;
    width: 0;
    height: 0;
    border-left: 2px solid transparent;
    border-right: 50px solid transparent;
    border-top: 30px solid greenyellow;
    
    }
  


  
  
  